<div class="navbar">
    <div class="navcontent">
        <div class = "navbrand">
            <a href="/"><h1>Tutorial</h1></a>
        </div>
        <div class = "navlinks">
            <a href="/users">Edit Users</a>
        </div>
    </div>
</div>