<div class="navbar">
    <div class="navcontent">
        <div class = "navbrand">
            <a href="/"><h1>Home</h1></a>
        </div>
        <div class = "navlinks">
            <a href="/users">Users</a>
            <a href="/customers">Customers</a>
            <a href="/accounts">Accounts</a>
            <a href="/transactions">Transactions</a>
        </div>
    </div>
</div>