<ul class="usernav">
    <li><a href="/customers/">Find Customers</a></li>
    <li><a href="/customers/create">Create New Customer</a></li>
    <li><a href="/customers/update">Update Customer</a></li>
    <li><a href="/customers/delete">Delete Customer</a></li>  
</ul>