<%- include("../partials/head") %>
<%- include("../partials/navbar") %>

<article>
  <header>
    <%- include("../partials/navuser") %>
    <h2>Create New User</h2>
    <h3>API Route:</h3>
    <p>POST: <b>/users/create</b> <i>submit a POST request with a JSON body</i></p>
    <p>
      <strong>Required values:</strong>
      <ul>
        <li>Username</li>
        <li>Email Address</li>
        <li>Bio</li>
      </ul>
    </p>
<strong>Format:</strong>
<pre>
{
  "username": "John Doe",
  "email": "me@johndoe.com",
  "bio": "I am not a deer"
}
</pre>
    <br>
    <h3>Create User:</h3>
    <form id = "create-user">
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username" required><br><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" required><br><br>
      <label for="bio">Bio:</label><br>
      <textarea rows="4" cols="50" type="text" id="bio" name="bio" ></textarea>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </header>
</article>

<script>
  var createUser = document.getElementById('create-user');

  createUser.addEventListener('submit', function(e) {
    e.preventDefault();
    var username = document.getElementById('username').value;
    var email = document.getElementById('email').value;
    var bio = document.getElementById('bio').value;
    var data = {
      username: username,
      email: email,
      bio: bio
    };
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/users/create', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload = function() {
      if (xhr.status === 200) {
        alert('User Created:' + xhr.responseText);
      } else {
        alert('Error: ' + xhr.status);
      }
    };
    xhr.send(JSON.stringify(data));
  });

</script>
  
<%- include("../partials/foot") %>
