<%- include("../partials/head") %>
<%- include("../partials/navbar") %>

<article>
  <header>
    <%- include("../partials/navuser") %>
    <h2>Create New User</h2>
    <h3>API Route:</h3>
    <p>POST: /users/create</p>
    <p>
      <strong>Required Values:</strong>
      <ul>
        <li>Username</li>
        <li>Email Address</li>
        <li>Bio</li>
      </ul>
    </p>
  </header>
</article>
  
<%- include("../partials/foot") %>
