<%- include("../partials/head") %>
<%- include("../partials/navbar") %>

<article>
  <header>
    <h1>CSCI4177 Tutorial 7</h1>
    <p>NoSQL Databases and REST APIs</p>
    <p>Liam Osler</p>
  </header>
</article>
  
<%- include("../partials/foot") %>
