<%- include("../partials/head") %>
<%- include("../partials/navbar") %>

<article>
  <header>
    <%- include("../partials/navuser") %>
    <h2>Update User</h2>
    <h3>API Route:</h3>
    <p>PUT: <b>/users/update/id/:id</b><br><i>submit a PUT request with a JSON body to update user with :id</i></p>
    <br>
    <h3>Update User:</h3>
    <form id = "update-user">
      <label for="user-id">User _id:</label><br>
      <input type="text" id="user-id" name="user-id" required><br><br>
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username" required><br><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" required><br><br>
      <label for="password">Password:</label><br>
      <input type="email" id="password" name="password" required><br><br>
      <input type="submit" value="Submit">
    </form>
  </header>
</article>

<script>
  var updateUser = document.getElementById('update-user');

  updateUser.addEventListener('submit', function(e) {
    e.preventDefault();
    var userID = document.getElementById('user-id').value;

    var username = document.getElementById('username').value;
    var email = document.getElementById('email').value;
    var bio = document.getElementById('bio').value;
    var data = {
      username: username,
      email: email,
      bio: bio
    };
    var xhr = new XMLHttpRequest();
    xhr.open('PUT', '/users/update/id/' + userID, true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload = function() {
      if (xhr.status === 200) {
        alert('User Updated:' + xhr.responseText);
      } else {
        alert('Error: ' + xhr.status);
      }
    };
    xhr.send(JSON.stringify(data));
  });
</script>
  
<%- include("../partials/foot") %>
