<%- include("../partials/head") %>
<%- include("../partials/navbar") %>
<article>
  <header>
    <%- include("../partials/navcustomer") %>
    <h2>Update Customer</h2>
    <h3>API Route:</h3>
    <p>POST: <b>/customers/delete/id/:id</b><br><i>Delete a customer</i></p>
    <br>
  </header>
</article>

<script>

</script>
<%- include("../partials/foot") %>
